<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="Login(loginForm)" class="box">
        <mat-card> <!--  formGroupName="loginForm" -->
            <mat-card-content class="card_content">
               <section>
                    <p class="mat-headline title-display">Login</p>
               </section>
                <mat-form-field appearance="outline" class="elements-width">
                    <mat-label>Email</mat-label>
                    <input matInput [placeholder]="Placeholder" formControlName="email" required>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" matSuffix>email</mat-icon>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="outline" class="elements-width">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" [type]="type" formControlName="password" required>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" matSuffix (click)="toggle()">{{ visibility ? "visibility_off" : "visibility" }}</mat-icon>
                </mat-form-field>
                <br/>
                <section>
                    <mat-checkbox class="example-margin" color="accent" formControlName="rememberMe">Remember me</mat-checkbox>
                    <a routerLink="/forgot-password" style="float: right;" class="mat-body-strong">Forgot Password</a>
                </section>
                <br/>
                <section>
                    <button mat-raised-button color="primary" class="elements-width" type="submit" [disabled]="this.loginForm.invalid">Login</button>
                </section>
                <br/>
                <section style="text-align: center;">
                    <span class="mat-body">Need an account? <a routerLink="/register">Register</a></span> 
                </section>
            </mat-card-content>
        </mat-card>    
    </form>      
</div>